html, body {
    width: 100%;
   /* height: 1000px;*/
    margin: 0;

}

.welcomeText{
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.286em;
    color: #882541;

}
#layoutContainer {
    width: 100%;
    height: 100%;
}

.mainContainer{
   /* height: 800px;*/
}

.filterRanges {
    /*float:left;*/
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;

}

.filterBottom{
    width: 75px;
    margin-right: 0px;
}

.filterTop{
    width: 75px;
    margin-left: 0px;
}

.filterRangesName{
    font-weight: bold;
}

.dgrid-selected {
    background-color: #ffffff;
}

.mapTitlepane{

    /*height: 800px;*/
    overflow: hidden;
}

.mapBorderContainer{

    height: 500px;
    width:100%;
}

.ResultsTabContainer{
    width:100%;
    height:5000px;

}

.map {
    height:100%;
}

.filterTextBoxRanges{
    /*height: 300px;*/
}

.parcelTitleBarCharts{
    font-size: x-large;
    text-align: center;
    background-color: #428bca;
    color: white;
    margin-bottom: 15px;
}

.filterCharts_HHIncomePoverty{
    height:135px;
}
.bufferDistanceInput{
    width: 50px;
}

.bufferDistanceContainer{}

.bufferDistanceLabel{}

.bufferDistanceTextBoxContainer{
}

.soria .dijitTab{
    background:#882541;
    color:white;
}

.soria .dijitTabChecked{

    color:white!important;;

}

.mapSelectorText{
    padding-bottom: 10px;
}

.mapSelector{
    width:140px;
}

.helpDialog{
    z-index: 9999 !important;
}

.filterParcelResults{
    height:300px
}
.filterHHIncomResults{
    height:100px
}
.filterEmploymentResults{
    height:450px
}

.filterTableHeader {
    font-size: x-large;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    clear: both;
    border-top:2px solid;
}

.supported{
    padding:5px 5px 5px 5px;
}
/* colors the underlay black instead of white
 * We're using '.claro .dijitDialogUnderlay' as our selector,
 * to match the specificity in claro.css */
.tundra .dijitDialogUnderlay { background:#000; }

/*.navbar-fixed-top{*/
/*left:272px;*/
/*}*/

/*.sidebar{*/
/*top:100px;*/
/*}*/
.main{padding: 10px 0px 0px 0px}

/*h2{margin-top: 0px}*/
/*
.navbar{
    min-height: 101px;
}

.navbar-brand{
    padding:0px 0px 0px 0px;
}*/

td {
    vertical-align: top;
}

.pieChartTitle {

    width:100%;
    font-size: x-large;
    text-align: center;
    margin-top: 10px;
}

.pieChartSubTitle{
    width:100%;
    font-size:smaller;
    text-align: center;
}

.pieChartTitle_Poverty
{

    font-size:large;
    text-align: center;
}
.filterBubbleCharts{

    height:400px;
}
.filterChartsHHIncomeBar{
}

.chartsMain{
    clear: both;
}
.chartsSub{}
.chartsSubHHIncomePercentPovertyBar{
    float:left;

    width:50%;

}
.chartsSubHHIncomePercentPoverty{}
.HHIncomeGridDiv{
    width:100%;
    margin-top:10px;
    margin-bottom: 10px;
}
.HHIncomeGridLeftDiv{
    width:65%;
    float:left;
}
.HHIncomeGridRightDiv{
    position:relative;
    top:5px;
    width:35%;
    float:right;
}
.HHIncomeGrid{
    width:50%;
    float: left;
}

.filterLegendCharts_HHIncomePovertyContainer{
    font-size: x-small;
    margin: auto;
    width: 60%;
    border:1px solid black;
    padding: 10px;

}

.employmentPieChartContainer{
    width:50%;
    float:left;
}

.employmentPieLegend{
    font-size: x-small;
    margin: auto;
    width: 60%;
}

.parcelCharts{
    width:50%;
    float:left;
}
.parcelLegendCharts{
    width:50%;
    float:left;

}
.parcelChartsClear{
    clear: both;
}

.internalNav{
    border:1px solid black;
    float:right;
    padding: 5px;
    margin-bottom: 15px;
}

.soria .dijitTitlePaneContentInner {
    padding: 0 0 0 0;
}

#selectOptions{
    padding-left: 10px;
}

.selectToolButtons {
    padding-left: 10px;
    padding-bottom: 10px;
}

.LocalitySelectionButton span{
    width: 150px;
}



.box {
    position:relative;
    width:100%;
    height:100%;
}

.overlay {
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color:rgba(0, 0, 0, 0.85);
    z-index:9999;
    color:black;
}

#loadingOverlay {
    background:  url('//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/images/loadingAnimation.gif') no-repeat 10px 23px;
    height:50px;
    width:50px;
    margin:auto;
}

.overlayInner {
    position:relative;
    top:250px;
    margin: auto;
    width: 300px;
    border:3px solid #005f81;
    padding: 10px;
    background-color: #ffffff;

}

.overlayText{
    width:100%;
    text-align: center;
}

.overlayImage{
    width:80%;
    margin:auto;
}

.navTopPanelContainer{
    position: absolute;
    /*margin: auto;*/
    margin-left: auto;
    margin-right: auto;
    top: 5px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    border-radius: 25px;
    border: 2px solid #4c53ad;
    padding: 20px;
    width: 500px;
    height: 650px;
    background-color: white;
}

.closeFilterPanel{
    background-color: darkgrey;
    color:black;
    font-size: large;
    width:350px;
    position: absolute;
    left:75px;
    bottom: -20px;
    border-radius: 25px;
    border: 2px solid black;
    text-align: center;
    cursor:pointer;

}

.navbar-fixed-bottom, .navbar-fixed-top{
    z-index: 999;
}

.mapMainContainer{

/*    height:1000px;
    position: relative;*/
}


.resultTab{
    height:1000px;
}
.transparencySlider{
    display: inline-block;
    width:220px;
    vertical-align: middle;

}

.logoInMap {
    display: inline-block;
    width:200px;
    padding:5px;
    vertical-align: middle;

}

.addressSearch {
    display: inline-block;
    width:310px;
    padding:5px;
    vertical-align: middle;
}

.mapBottom{
    min-width: 800px;
    background-color: #96ACA8;
    border: 2px solid  #3C4543;
    height:90px;
    text-align: justify;
    position:relative;
    top:-100px;

}

.mapBottom:after {
    content: '';
    width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
    display: inline-block;
}

.soria .dijitTitlePaneTitle {
    background: #882541;
    /* background: #fff url("images/titleBar.png") repeat-x top left;*/
    border: 1px solid #bfbfbf;
    padding: 3px 4px;
    /*font-size: 1.0em;*/
    /*font-weight: bold;*/
    color: #FAFAE9;

    /*F2E7C4  Yellow*/
    /*780727  Red*/

}

.soria .dijitTitlePaneTextNode {
    color: #EBDCB4;
}

.studyAreaMap{

    width:100%;
    height:250px;
}
.realtorLine{

    font-size: smaller;
    font-style: italic;

}

.redEmphasis{
    color:#882541;
    font-weight: bold;
    font-size: larger;
    padding-bottom: 5px;
}

.shadow {
    padding: 8px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0px 6px 3px -3px #888;
    -webkit-box-shadow: 0px 6px 3px -3px #888;
    box-shadow: 0px 6px 3px -3px #888;
    background-color: white;
    border: solid 4px #80a8c1;
}

.selectToolContainer{
    float:left;
    padding-bottom: 10px;
}

.selectToolText{
    width:150px;
}
.selectToolImage{
    height:100px;
    width:100px;

}

.selectToolHelper{
    padding-left:10px;
}

.selectToolOverallContainer{
    clear: both;
}

/*****************************BootStrap Overrides*/

.navbar-inverse{
    background-color: #96ACA8;
    border-color: #3C4543;

}

.navbar-inverse .navbar-brand{
    color:#3C4543;
    font-size: 28px;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a {
    color:#3C4543;

}


@media print {
    .navTopPanelContainer{
        display:none;
    }
    .resultTab{
        height:5500px;
    }
}
